<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabla de Registros</title>
     
</head>
<body>
    <div class="container mt-5">
        <h2>Lista de Registros</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Programa</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let it of estudianteDTO">
                    <td>{{it.id}}</td>
                    <td>{{it.nombre}}</td>
                    <td>{{it.nombrePrograma}}</td>
                    <td>
                        <a class="btn btn-primary btn-sm" routerLink="/ActualizarPersona/{{it.id}}">Gestionar</a>
                        <a class="btn btn-success btn-sm" routerLink="/ListadoClase/{{it.id}}">Clase</a>
                        <a class="btn btn-danger btn-sm" (click)="EliminarEstudiante(it.id)">Eliminar</a>

                    </td>
                </tr>
               
            </tbody>
        </table>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
