<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
    
</head>
<body>
    <div class="container mt-5">
        <h2>Formulario de Actualizacion</h2>
        <form [formGroup]="form" (ngSubmit)="actualizarEstudiante()">
            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input [ngClass]="{'has-error': this.form.get('Nombre')?.invalid}" formControlName="Nombre"  type="text" class="form-control" id="nombre" placeholder="Ingresa tu nombre">
            </div>
            <div class="form-group">
                <label for="programa">Programa</label>
                <select   class="form-control" id="Programaselect" formControlName="Programaselect" (change)="onProgramaChange($event)">
                    <option value="" disabled selected>Seleccione un programa</option>
                    <option [ngClass]="{'has-error': this.form.get('Programa')?.invalid}"  *ngFor="let materia of programaDTO" [value]="materia.id" >{{materia.nombre}}</option>
                   
                </select>
            </div>
            <h4>Selecciona las materias</h4>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Seleccionar</th>
                        <th scope="col">Id</th>
                        <th scope="col">Nombre</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let mate of materiaDTO; let i = index">
                        <td>
                          <input 
                            (change)="onCheckboxChange($event, i,mate.id)" 
                            type="checkbox" 
                            class="form-check-input" 
                            id="check{{i}}"
                            [checked]="mate.seleccionado" 
                          />
                        </td>
                        <td>{{i}}</td>
                        <td>{{mate.nombre}}</td>
                        <td>{{mate.nombreProfesor}}</td>
                      </tr>
                     
                </tbody>
            </table>
            <button type="submit" class="btn btn-primary" [disabled]="this.form.invalid">Actualizar</button>
        </form>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
